.navigation {
  background-color: black;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  height: 70px;
  width: 70px;
}

.menuItem {
  font-size: 16px;
}

.games {
  display: block;
}

.triggerGames:hover + .games {
  display: none;
}
